.b-see-also {
  &__container {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border-top: 0.5px solid;
    border-right: 0.5px solid;
    border-bottom: 0.5px solid;
    background-color: #f8f8f8;
  }
  &__title {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f8f8f8;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(162, 162, 162);
      border-radius: 5px;
    }
  }
  &__item {
    padding-bottom: 8px;
    min-width: 221px;
    list-style: none;

    &-image {
      height: 126px;
      border-radius: 5px;
      margin-bottom: 16px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    &-section-name {
      text-transform: uppercase;
      font-size: 11px;
      line-height: 1.36;
      color: #333;
    }

    &-title {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: #333;

      @media screen and (max-width: 48rem) {
        font-size: 14px;
      }
    }
  }
}
