.b-article-tags {
  &-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-divider {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    z-index: -1;
  }

  &-list {
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
  }

  &-item {
    border-radius: 19px;
    line-height: 1em;
    padding: 8px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
