registry=https://registry.npmjs.org/

@wpmedia:registry=https://npm.pkg.github.com/ 
//npm.pkg.github.com/:_authToken=your_token

@code-store-platform:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=your_token

#npm private @r7
@r7:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=your_token

@wpmedia:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=your_token
