.b-article-body-gallery__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.active {
    display: flex;
  }

  &-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: sticky;
    height: 58px;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    color: #fff;

    &-logo {
      margin-left: 16px;
      justify-self: flex-start;
    }
    &-title {
      letter-spacing: 1.23px;
      font-size: 32px;
      font-weight: 300;
      justify-self: center;
    }
    &-toolbar {
      justify-self: flex-end;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;

      &-title {
        font-size: 16px;
        font-weight: 600;
      }
      &-btn {
        //   position: relative;
        //   cursor: pointer;
        //   border: none;
        //   background-color: transparent;
        //   outline: none;
        //   padding: 0;
        //   display: flex;
        //   align-items: flex-end;

        &.active &::after {
          display: block;
        }

        &::after {
          content: '';
          position: absolute;
          top: 38px;
          right: 0;
          left: 0;
          width: 100%;
          border-bottom: 3px solid #fff;
          display: none;
        }

        &:hover svg g {
          fill: #c2c2c2;
        }

        svg {
          width: 24px;
          height: 24px;
          pointer-events: none;
        }
      }
      &-close {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 58px;
        transition: background-color 0.2s ease;
        background-color: #dc1a46;

        &:hover {
          transition: background-color 0.2s ease;
          background-color: #b50d33;
        }
      }
    }
  }
}
