.expandable-social-share {
  display: flex;
  gap: 8px;
  & > div {
    overflow-x: hidden;
    ul {
      transform: translateX(80px);
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 640px) {
        gap: 8px;
        transform: translateX(0);

        li:nth-child(5),
        li:last-child {
          display: none;
        }
      }
    }
  }

  &.view-more {
    & > div {
      ul {
        transform: translateX(0);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__btn {
    outline: none;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #dddde1;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (max-width: 640px) {
      width: 40px;
      height: 40px;
    }
  }
}
