.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;

  &__site {
    display: flex;
    align-items: center;
    gap: 10px;

    &-logo {
      width: 40px;
    }

    &-name {
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  &__copyright {
    color: #ffffff;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    gap: 25px;

    &-link {
      list-style: none;

      a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }
}
