.b-header {
  &-image {
    height: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: 72rem) {
      height: 150px;
    }
  }
  &-link {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1140px;
  }
}
