@use "@wpmedia/arc-themes-components/scss" with (
	$breakpoints: (
		"default": "min-width: 0",
		"desktop": "min-width: 48rem",
		"medium": "min-width: 72rem"
	),
	$global: (
		"light-gray": #cecece,
		"black": #000000,
		"white": #ffffff,
		"blue-1": #f2f5ff,
		"blue-2": #c5d4fa,
		"blue-3": #8fb3f0,
		"blue-4": #4a89d8,
		"blue-5": #1e78cb,
		"blue-6": #1458a9,
		"blue-7": #0c3d87,
		"blue-8": #062665,
		"blue-9": #021443,
		"blue-10": #000721,
		"red-1": #ffe4e4,
		"red-2": #faa7a7,
		"red-3": #d84e4e,
		"red-4": #b50505,
		"red-5": #9c0000,
		"red-6": #840000,
		"red-7": #6b0000,
		"red-8": #520000,
		"red-9": #3a0000,
		"red-10": #210000,
		"orange-1": #fff4ea,
		"orange-2": #ffd7b2,
		"orange-3": #dc6e4a,
		"orange-4": #b12e00,
		"orange-5": #982a00,
		"orange-6": #802500,
		"orange-7": #682000,
		"orange-8": #4f1900,
		"orange-9": #371200,
		"orange-10": #1f0b00,
		"green-1": #ebfce9,
		"green-2": #a4e299,
		"green-3": #5dbe4b,
		"green-4": #189402,
		"green-5": #137d00,
		"green-6": #0f6600,
		"green-7": #0c4f00,
		"green-8": #083800,
		"green-9": #052100,
		"green-10": #020a00,
		"neutral-1": #eef4ff,
		"neutral-2": #d3dceb,
		"neutral-3": #b3bfd2,
		"neutral-4": #8593aa,
		"neutral-5": #69778e,
		"neutral-6": #4f5c71,
		"neutral-7": #384355,
		"neutral-8": #232b39,
		"neutral-9": #10151c,
		"neutral-10": #000000,
		"neutral-low": #333333,
		"spacing-1": 0.25rem,
		"spacing-2": 0.5rem,
		"spacing-3": 0.75rem,
		"spacing-4": 1rem,
		"spacing-5": 1.5rem,
		"spacing-6": 2rem,
		"spacing-7": 2.5rem,
		"spacing-8": 3rem,
		"spacing-9": 3.5rem,
		"spacing-10": 4rem,
		"spacing-11": 4.5rem,
		"spacing-12": 5rem,
		"spacing-13": 5.5rem,
		"spacing-14": 6rem,
		"spacing-15": 6.5rem,
		"spacing-16": 7rem,
		"spacing-17": 7.5rem,
		"font-weight-2": 200,
		"font-weight-3": 300,
		"font-weight-4": 400,
		"font-weight-5": 500,
		"font-weight-6": 600,
		"font-weight-7": 700,
		"font-weight-8": 800,
		"font-weight-9": 900,
		"font-size-1": 0.625rem,
		"font-size-2": 0.75rem,
		"font-size-3": 0.875rem,
		"font-size-4": 1rem,
		"font-size-5": 1.125rem,
		"font-size-6": 1.1875rem,
		"font-size-7": 1.25rem,
		"font-size-8": 1.375rem,
		"font-size-9": 1.5rem,
		"font-size-10": 1.75rem,
		"font-size-11": 2rem,
		"font-size-12": 2.25rem,
		"font-size-13": 2.56rem,
		"font-size-14": 3rem,
		"font-size-15": 3.25rem,
		"line-height-1": 1,
		"line-height-2": 1.1,
		"line-height-3": 1.2,
		"line-height-4": 1.3,
		"line-height-5": 1.4,
		"line-height-6": 1.5,
		"box-shadow-1": 0px 0px 16px rgba(25, 25, 25, 0.4),
		"z-index-1": 1,
		"z-index-2": 10,
		"z-index-3": 50,
		"z-index-4": 100,
		"z-index-5": 500,
		"border-radius-1": 0.25rem,
		"border-radius-2": 20rem,
		"border-radius-3": 100vmax,
		"border-style-1": solid,
		"border-width-1": 1px
	),
	$tokens: (
		"default": (
			"alias": (
				"font-family-primary": Record Type Regular,
				"font-family-primary-light": Record Type Light,
				"font-family-secondary": Playfair Display,
				"color-primary": var(--global-blue-6),
				"color-primary-hover": var(--global-neutral-7),
				"text-color": var(--global-neutral-8),
				"text-color-subtle": var(--global-neutral-5),
				"background-color": var(--global-white),
				"icon-fill-color": var(--global-neutral-8),
				"icon-fill-color-subtle": var(--global-neutral-4),
				"border-color": var(--global-neutral-4),
				"form-background-color": var(--global-white),
				"form-border-color": var(--global-neutral-5),
				"form-border-color-primary": var(--global-blue-5),
				"status-color-success": var(--global-green-5),
				"status-color-success-subtle": var(--global-green-1),
				"status-color-warning": var(--global-orange-5),
				"status-color-warning-subtle": var(--global-orange-1),
				"status-color-danger": var(--global-red-5),
				"status-color-danger-subtle": var(--global-red-1),
				"status-color-info": var(--global-blue-5),
				"status-color-info-subtle": var(--global-blue-1),
				"border-radius": var(--global-border-radius-1),
				"border-radius-pill": var(--global-border-radius-2),
				"border-radius-circle": var(--global-border-radius-3),
				"heading-level-1-font-size": var(--global-font-size-12),
				"heading-level-1-line-height": var(--global-line-height-3),
				"heading-level-1-font-weight": var(--global-font-weight-7),
				"heading-level-2-font-size": var(--global-font-size-11),
				"heading-level-2-line-height": var(--global-line-height-4),
				"heading-level-2-font-weight": var(--global-font-weight-7),
				"heading-level-3-font-size": var(--global-font-size-10),
				"heading-level-3-line-height": var(--global-line-height-4),
				"heading-level-3-font-weight": var(--global-font-weight-7),
				"heading-level-4-font-size": var(--global-font-size-9),
				"heading-level-4-line-height": var(--global-line-height-5),
				"heading-level-4-font-weight": var(--global-font-weight-7),
				"heading-level-5-font-size": var(--global-font-size-7),
				"heading-level-5-line-height": var(--global-line-height-5),
				"heading-level-5-font-weight": var(--global-font-weight-7),
				"heading-level-6-font-size": var(--global-font-size-5),
				"heading-level-6-line-height": var(--global-line-height-5),
				"heading-level-6-font-weight": var(--global-font-weight-7),
				"body-font-weight": var(--global-font-weight-4),
				"body-font-size": var(--global-font-size-4),
				"body-line-height": var(--global-line-height-6),
				"body-font-weight-small": var(--global-font-weight-4),
				"body-font-size-small": var(--global-font-size-3),
				"body-line-height-small": var(--global-line-height-6),
				"body-font-weight-tiny": var(--global-font-weight-4),
				"body-font-size-tiny": var(--global-font-size-2),
				"body-line-height-tiny": var(--global-line-height-6),
				"layout-max-width": 1600,
				"content-max-width": 1440,
				"content-scale-width": calc(var(--content-max-width) / var(--layout-max-width) * 100%),
				"header-nav-chain-height": 80px,
				"header-nav-chain-height-scrolled": 80px,
				"header-nav-chain-overlay-background-color": rgba(25, 25, 25, 0.5),
				"contrast-primary-color": var(--global-black, #000),
				"contrast-secondary-color": var(--global-white, #fff)
			),
			"blocks": (
				"ads-block": (
					"components": (
						"paragraph": (
							"font-family": var(--font-family-primary),
							"font-size": var(--body-font-size-small),
							"line-height": var(--body-line-height-small),
							"font-weight": var(--body-font-weight-small),
							"color": "$global.neutral-7"
						)
					)
				),
				"ads-block-admin": (
					"background-color": "$global.neutral-7",
					"padding-block-start": "$global.spacing-4",
					"padding-inline-end": "$global.spacing-4",
					"padding-block-end": "$global.spacing-4",
					"padding-inline-start": "$global.spacing-4",
					"border-start-start-radius": var(--border-radius),
					"border-start-end-radius": var(--border-radius),
					"border-end-start-radius": var(--border-radius),
					"border-end-end-radius": var(--border-radius),
					"components": (
						"stack": (
							"gap": "$global.spacing-4",
							"padding-block-end": "$global.spacing-5"
						),
						"paragraph": (
							"color": "$global.white"
						)
					)
				),
				"article-body": (
					"components": (
						"image": (
							"border-radius": 4px 4px 0 0
						)
					)
				),
				"card-list": (
					"box-shadow": none,
					"padding": none,
					"components": (
						"attribution": (
							"display": none
						),
						"image": (
							"border-radius": 5px
						),
						"stack-divider-vertical": (
							"display": none
						),
						"overline": (
							"color": #606060,
							"font-weight": 400
						)
					)
				),
				"card-list-list": (
					"padding": 0
				),
				"double-chain": (
					"margin-bottom": 28px
				),
				"quad-chain": (
					"margin-bottom": 28px
				),
				"simple-list": (
					"components": (
						"stack-divider-vertical": (
							"display": none
						),
						"image": (
							"border-radius": 5px
						)
					)
				),
				"simple-list-item": (
					"gap": 16px
				),
				"top-table-list": (
					"components": (
						"heading": (
							"margin-bottom": 15px
						)
					)
				),
				"top-table-list-xl": (
					"components": (
						"heading": (
							"align-self": left
						)
					)
				),
				"triple-chain": (
					"margin-bottom": 28px
				)
			),
			"components": (
				"attribution": (
					"color": var(--text-color),
					"font-size": var(--body-font-size-small),
					"line-height": var(--body-line-height-small)
				),
				"attribution-link": (
					"color": var(--text-color),
					"cursor": pointer
				),
				"attribution-link-hover": (
					"color": var(--text-color-subtle),
					"text-decoration": underline
				),
				"badge": (
					"align-self": baseline,
					"border-radius": var(--border-radius-pill),
					"color": var(--global-white),
					"font-size": var(--body-font-size-tiny),
					"font-weight": var(--global-font-weight-7),
					"line-height": var(--body-line-height-tiny),
					"padding-inline-start": var(--global-spacing-2),
					"padding-inline-end": var(--global-spacing-2),
					"padding-block-start": var(--global-spacing-1),
					"padding-block-end": var(--global-spacing-1)
				),
				"badge-danger": (
					"background-color": var(--status-color-danger)
				),
				"badge-default": (
					"background-color": var(--text-color)
				),
				"badge-light": (
					"background-color": var(--text-color-subtle)
				),
				"badge-primary": (
					"background-color": var(--color-primary)
				),
				"badge-success": (
					"background-color": var(--status-color-success)
				),
				"badge-warning": (
					"background-color": var(--status-color-warning)
				),
				"button": (
					"border-color": transparent,
					"border-style": var(--global-border-style-1),
					"border-width": var(--global-border-width-1),
					"border-radius": var(--border-radius),
					"font-weight": var(--global-font-weight-7),
					"gap": var(--global-spacing-2)
				),
				"button-default": (
					"background-color": var(--global-white),
					"border-color": var(--global-neutral-7),
					"border-width": var(--global-border-width-1),
					"color": var(--global-neutral-7)
				),
				"button-large": (
					"font-size": var(--body-font-size),
					"line-height": var(--body-line-height),
					"padding-block-start": var(--global-spacing-4),
					"padding-inline-start": var(--global-spacing-4),
					"padding-block-end": var(--global-spacing-4),
					"padding-inline-end": var(--global-spacing-4)
				),
				"button-medium": (
					"font-size": var(--body-font-size-small),
					"line-height": var(--body-line-height-small),
					"padding-block-start": var(--global-spacing-3),
					"padding-inline-start": var(--global-spacing-4),
					"padding-block-end": var(--global-spacing-3),
					"padding-inline-end": var(--global-spacing-4)
				),
				"button-primary": (
					"background-color": var(--color-primary),
					"color": var(--global-white)
				),
				"button-primary-hover": (
					"background-color": var(--color-primary-hover)
				),
				"button-primary-reverse": (
					"background-color": transparent,
					"border-color": var(--color-primary),
					"color": var(--color-primary)
				),
				"button-primary-reverse-hover": (
					"border-color": var(--color-primary-hover),
					"color": var(--color-primary-hover)
				),
				"button-secondary": (
					"background-color": var(--global-white),
					"color": var (--global-black)
				),
				"button-secondary-hover": (
					"background-color": var(--global-neutral-2),
					"color": var(--global-neutral-6)
				),
				"button-secondary-reverse": (
					"background-color": transparent,
					"border-color": var(--global-white),
					"color": var(--global-white)
				),
				"button-secondary-reverse-hover": (
					"border-color": var(--global-neutral-3),
					"color": var(--global-neutral-3)
				),
				"button-small": (
					"font-size": var(--body-font-size-small),
					"line-height": var(--body-line-height-small),
					"padding-block-start": var(--global-spacing-1),
					"padding-inline-start": var(--global-spacing-4),
					"padding-block-end": var(--global-spacing-1),
					"padding-inline-end": var(--global-spacing-4)
				),
				"carousel": (
					"font-family": var(--font-family-primary),
					"font-size": var(--body-font-size-tiny),
					"line-height": var(--body-line-height-tiny),
					"container-name": c-carousel,
					"container-type": inline-size,
					"max-inline-size": 100cqi,
					"--slides": 1
				),
				"carousel-actions": (
					"display": none,
					"padding-inline-start": var(--global-spacing-5),
					"padding-inline-end": var(--global-spacing-5)
				),
				"carousel-additional-controls": (
					"display": flex
				),
				"carousel-button": (
					"align-items": center,
					"background-color": transparent,
					"border": none,
					"box-shadow": none,
					"display": flex,
					"font-size": var(--body-font-size-tiny),
					"gap": var(--global-spacing-2),
					"block-size": var(--global-spacing-4),
					"line-height": var(--body-line-height-tiny),
					"padding-block-start": 0,
					"padding-inline-start": var(--global-spacing-2),
					"padding-block-end": 0,
					"padding-inline-end": var(--global-spacing-2),
					"inline-size": auto
				),
				"carousel-button-enter-full-screen": (
					"padding-inline-start": 0
				),
				"carousel-button-exit-full-screen": (
					"padding-inline-start": 0,
					"padding-inline-end": 0
				),
				"carousel-button-full-screen": (
					"color": var(--global-white)
				),
				"carousel-button-full-screen-hover": (
					"color": var(--global-neutral-3)
				),
				"carousel-button-next": (
					"color": var(--global-white),
					"margin-inline-start": auto
				),
				"carousel-button-next-rtl": (
					"transform": rotate(180deg)
				),
				"carousel-button-previous": (
					"color": var(--global-white)
				),
				"carousel-button-previous-rtl": (
					"transform": rotate(180deg)
				),
				"carousel-controls": (
					"margin-block-end": var(--global-spacing-2)
				),
				"carousel-fullscreen": (
					"color": var(--global-white),
					"padding-block-start": var(--global-spacing-2),
					"padding-inline-start": 0,
					"padding-block-end": var(--global-spacing-2),
					"padding-inline-end": 0
				),
				"carousel-fullscreen-button-toggle-auto-play": (
					"display": none
				),
				"carousel-fullscreen-controls": (
					"align-items": flex-end,
					"flex-direction": column,
					"padding-block-start": var(--global-spacing-2),
					"padding-inline-end": var(--global-spacing-2),
					"padding-block-end": var(--global-spacing-2),
					"padding-inline-start": var(--global-spacing-2),
					"place-self": initial
				),
				"carousel-icon": (
					"fill": currentColor,
					"block-size": var(--global-spacing-4),
					"inline-size": var(--global-spacing-4)
				),
				"carousel-track": (
					"gap": initial,
					"max-inline-size": 100cqi,
					"inline-size": 100%
				),
				"date": (
					"color": var(--text-color),
					"font-size": var(--body-font-size-small),
					"line-height": var(--body-line-height-small)
				),
				"divider": (
					"background-color": var(--border-color),
					"block-size": 1px
				),
				"heading": (
					"font-family": var(--font-family-primary),
					"font-size": var(--heading-level-3-font-size),
					"font-weight": var(--heading-level-3-font-weight),
					"line-height": var(--heading-level-3-line-height)
				),
				"icon": (
					"fill": var(--icon-fill-color),
					"block-size": var(--global-spacing-5),
					"inline-size": var(--global-spacing-5)
				),
				"image": (
					"block-size": auto,
					"max-inline-size": 100%
				),
				"image-hover": (
					"opacity": 1
				),
				"input": (
					"align-items": flex-start,
					"display": flex,
					"flex-direction": column,
					"gap": var(--global-spacing-1)
				),
				"input-error-input": (
					"border-color": var(--status-color-danger)
				),
				"input-error-input-focus": (
					"outline-color": var(--status-color-danger)
				),
				"input-input": (
					"border-block-start-width": var(--global-border-width-1),
					"border-block-end-width": var(--global-border-width-1),
					"border-inline-start-width": var(--global-border-width-1),
					"border-inline-end-width": var(--global-border-width-1),
					"border-block-start-style": var(--global-border-style-1),
					"border-block-end-style": var(--global-border-style-1),
					"border-inline-start-style": var(--global-border-style-1),
					"border-inline-end-style": var(--global-border-style-1),
					"border-block-start-color": var(--form-border-color),
					"border-block-end-color": var(--form-border-color),
					"border-inline-start-color": var(--form-border-color),
					"border-inline-end-color": var(--form-border-color),
					"border-radius": var(--border-radius),
					"padding-block-end": var(--global-spacing-4),
					"padding-block-start": var(--global-spacing-4),
					"padding-inline-end": var(--global-spacing-2),
					"padding-inline-start": var(--global-spacing-2)
				),
				"input-input-focus": (
					"outline": solid 2px var(--form-border-color),
					"outline-offset": 1px
				),
				"input-label": (
					"font-weight": var(--global-font-weight-7)
				),
				"input-small-input": (
					"padding-block-end": var(--global-spacing-2),
					"padding-block-start": var(--global-spacing-2),
					"padding-inline-end": var(--global-spacing-2),
					"padding-inline-start": var(--global-spacing-2)
				),
				"input-success-input": (
					"border-color": var(--status-color-success)
				),
				"input-success-input-focus": (
					"outline-color": var(--status-color-success)
				),
				"input-warning-input": (
					"border-color": var(--status-color-warning)
				),
				"input-warning-input-focus": (
					"outline-color": var(--status-color-warning)
				),
				"link": (
					"color": var(--text-color),
					"font-family": var(--font-family-primary)
				),
				"link-active": (
					"text-decoration": none
				),
				"link-hover": (
					"text-decoration": none
				),
				"media-item": (
					"border-radius": 4px,
					"display": block,
					"box-shadow": 0px 0px 0 1px var(--global-light-gray),
					"align-items": stretch,
					"flex-direction": column,
					"gap": var(--global-spacing-2)
				),
				"media-item-caption": (
					"display": block,
					"color": var(--global-neutral-low),
					"text-transform": uppercase,
					"font-size": var(--global-font-size-1)
				),
				"media-item-credit": (
					"display": block,
					"color": var(--global-neutral-low),
					"text-transform": uppercase,
					"font-size": var(--global-font-size-1)
				),
				"media-item-fig-caption": (
					"border-radius": 0 0 4px 4px,
					"border-top": none,
					"padding": 8px 16px,
					"color": var(--text-color-subtle),
					"font-size": var(--body-font-size-tiny),
					"line-height": var(--body-line-height-tiny)
				),
				"media-item-fig-caption-fullscreen": (
					"padding-inline-start": var(--global-spacing-5),
					"padding-inline-end": var(--global-spacing-5)
				),
				"media-item-fig-caption-vertical-video": (
					"text-align": center
				),
				"media-item-title": (
					"display": block,
					"color": var(--global-neutral-low),
					"font-weight": var(--global-font-weight-6),
					"font-size": var(--global-font-size-4),
					"line-height": var(--global-line-height-6)
				),
				"overline": (
					"color": var(--text-color),
					"font-family": var(--font-family-primary),
					"font-size": var(--heading-level-6-font-size),
					"font-weight": var(--heading-level-6-font-weight),
					"line-height": var(--heading-level-6-line-height),
					"text-decoration": none
				),
				"paragraph": (
					"font-family": var(--font-family-secondary),
					"font-size": var(--body-font-size),
					"font-weight": var(--body-font-weight),
					"line-height": var(--body-line-height)
				),
				"pill": (
					"background-color": var(--color-primary),
					"border-radius": var(--border-radius-pill),
					"color": var(--global-white),
					"font-size": var(--body-font-size-tiny),
					"padding-block-start": var(--global-spacing-1),
					"padding-inline-start": var(--global-spacing-4),
					"padding-block-end": var(--global-spacing-1),
					"padding-inline-end": var(--global-spacing-4),
					"text-decoration": none
				),
				"pill-hover": (
					"background-color": var(--global-neutral-7)
				),
				"stack-divider-horizontal": (
					"border": none,
					"border-inline-start-width": var(--global-border-width-1),
					"border-inline-start-style": var(--global-border-style-1),
					"border-inline-start-color": var(--border-color),
					"inline-size": 1px,
					"block-size": auto
				),
				"stack-divider-vertical": (
					"border-block-end-width": var(--global-border-width-1),
					"border-block-end-style": var(--global-border-style-1),
					"border-block-end-color": var(--border-color)
				),
				"vertical-video-frame": (
					"background-color": transparent
				),
				"video": (
					"margin-block-start": auto,
					"margin-inline-start": auto,
					"margin-block-end": auto,
					"margin-inline-end": auto
				),
				"video-frame": (
					"background-color": transparent
				)
			)
		),
		"desktop": (
			"alias": (
				"heading-level-1-font-size": var(--global-font-size-15),
				"heading-level-2-font-size": var(--global-font-size-14),
				"heading-level-2-line-height": var(--global-line-height-3),
				"heading-level-3-font-size": var(--global-font-size-13),
				"heading-level-3-line-height": var(--global-line-height-3),
				"heading-level-4-font-size": var(--global-font-size-12),
				"heading-level-4-line-height": var(--global-line-height-3),
				"heading-level-5-font-size": var(--global-font-size-11),
				"heading-level-5-line-height": var(--global-line-height-4),
				"heading-level-6-font-size": var(--global-font-size-7)
			),
			"blocks": (
				"double-chain": (
					"margin-bottom": 28px
				),
				"quad-chain": (
					"margin-bottom": 28px
				),
				"top-table-list": (
					"components": (
						"heading": (
							"margin-bottom": 15px
						)
					)
				),
				"top-table-list-xl": (
					"components": (
						"heading": (
							"align-self": left
						)
					)
				),
				"triple-chain": (
					"margin-bottom": 28px
				)
			),
			"components": (
				"carousel": (
					"--slides": 4
				),
				"carousel-actions": (
					"display": flex
				),
				"carousel-additional-controls": (
					"gap": var(--global-spacing-2),
					"padding-block-start": 0,
					"padding-inline-start": var(--global-spacing-2),
					"padding-block-end": 0,
					"padding-inline-end": 0
				),
				"carousel-fullscreen": (
					"padding-block-start": var(--global-spacing-5),
					"padding-inline-start": 0,
					"padding-block-end": var(--global-spacing-5),
					"padding-inline-end": 0
				),
				"carousel-fullscreen-button-toggle-auto-play": (
					"display": flex
				),
				"carousel-fullscreen-controls": (
					"flex-direction": initial,
					"padding-block-start": var(--global-spacing-5),
					"padding-inline-end": var(--global-spacing-5),
					"padding-block-end": var(--global-spacing-5),
					"padding-inline-start": var(--global-spacing-5),
					"place-self": flex-start
				),
				"carousel-track": (
					"gap": var(--global-spacing-6)
				),
				"video-frame": (
					"background-color": var(--global-black)
				)
			)
		)
	)
);

@use "@wpmedia/ads-block";