.four-images {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 24px;

    & > * {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}