.eight-images {
  display: grid;
  gap: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__card {
    display: flex;
  }

  &__figure {
    margin-right: 16px;
    align-self: start;
    min-width: 113px;
    width: 113px;
  }
}