.eight-images {
  display: grid;
  gap: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__figure {
    margin-right: 16px;
  }
}